body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
	
	background-color: #849d8f;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
}

.site-navigation,
.user-navigation,
.site-catalog-list {
	list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #000000;
	background-color: #ffffff ;
}

.site-catalog-list {
	background-color: #ffffff;

	font-size: 14px;
	font-weight: normal;
	line-height: 16px;	
}

.site-catalog-item-new {
	font-weight: bold;
}

.site-catalog-list a {
	color: #000000;
}

.site-catalog-list a:hover,
.site-catalog-list a:focus {
	background-color: #fbded7;
}

.site-catalog-list a:active {
	background-color: #f6b5a5;
}

.site-search,
.login-link,
.shop-cart {
	background-color: rgba(255, 255, 255, 0.2);

	font-size: 14px;
	font-weight: normal;
	line-height: 16px;
}

.contact-details {
	font-weight: bold;
}

.time-schedule {
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
}

.phone-number {
	font-size: 22px;
	font-weight: bold;
	line-height: 24px;
}

.slides {
	list-style: none;
	
}

.slider-text {
	font-size: 60px;
	font-weight: bold;
	line-height: 60px;
	text-align: center;
}
.button {
	background-color: #f06441;

	font-weight: bold;
	color: #ffffff;
}

.banner {
	font-weight: bold;
	color: #ffffff;
	list-style: none;
}

.banner-1 {
	background-image: url(../img/background-images/raspberry-background.jpg);
}

.banner-2 {
	background-image: url(../img/background-images/chocolate-background.jpg);
}

.banner-title {
	font-size: 35px;
	line-height: 41px;
}

.ice-cream-list {
	list-style: none;
	font-weight: 500;
	color: white;
}

.ice-cream-price-figure {
	font-weight: bold;
	font-size: 45px;
	line-height: 45px;
}

.ice-cream-price-unit {
	font-weight: bold;
	font-size: 30px;
	line-height: 45px;
}

.description {
	color: white;
	text-align: center;
}

.about-shop {
	background-image: url(../img/background-images/vaffel-background.jpg);
	color: #000000;
}

.about-shop li {
	list-style: none;
}

.about-shop h2 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.about-shop-text {
	font-weight: normal;
	font-size: 16px;
	line-height: : 22px;
}

.blog-news {
	background-image: url(../img/background-images/strawberry-background.jpg);
	color: #000000;
}

.blog-news-description {
	font-weight: 500;
	font-size: 16px;
	line-height: : 22px;
}

.blog-news-content {
	color: #000000;

	font-weight: bold;
	font-size: 24px;
	line-height: : 30px;
	text-decoration: underline;
}

.subscribe-form {
	background-image: url(../img/background-images/bg-post.svg);
	background-repeat: no-repeat;
	color: #000000;
}

.subscribe-form p {
	font-weight: normal;
	font-size: 16px;
	line-height: : 22px;
}

.contact-info {
	background-color: #ffffff;
	color: #000000;

}

.contacts-address,
.contacts-phone {
	font-weight: normal;
	font-size: 14px;
	line-height: : 20px;
}

.contacts-address strong {
	font-weight: bold;
	font-size: 18px;
	line-height: : 24px;
}

.phone-number	{
	font-weight: bold;
	font-size: 18px;
	line-height: : 22px;
}

.contacts-work-hours {
	font-weight: normal;
	font-size: 14px;
	line-height: : 22px;
}

.feedback-form {
	background-color: #f8f7f4;
}

.feedback-form h2 {
	font-weight: 500;
	font-size: 24px;
	line-height: : 28px;
	color: #000000;
}


.social-icons {
	list-style: none;
}

.additional-info a {
	text-decoration: none;
	color:#ffffff;
	font-weight: normal;
	font-size: 13px;
	line-height: : 18px;

}

.footer-copyright a {
	text-decoration: none;
	font-weight: normal;
	color:#ffffff;
	font-size: 12px;
	line-height: : 18px;
}

.breadcrumbs li,
.breadcrumbs a {
	list-style: none;

	text-decoration: none;
	color:#ffffff;
	font-weight: normal;
	font-size: 14px;
	line-height: : 16px;
}

fieldset {
	border: none;
	color: #ffffff;
	font-weight: normal;
	font-size: 14px;
	line-height: : 16px;
	background-color: #a9b9af;
}

.form-cell {
	background-color: #a9bab0;
}

.form-cell-sort {
	color: #ffffff;
	font-weight: normal;
	font-size: 16px;
	line-height: : 18px;
}

button.catalog-form {
	background-color: #a6b7ad;
	color: #ffffff;
	font-weight: normal;
	font-size: 16px;
	line-height: : 18px;
	border: 2px solid #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-catalog-list,
.search-form,
.user-login-form,
.feedback-form {
	display: none;
}