body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    min-height: 1200px;
}

.site-wrapper {
    min-width: 1200px;
    background-color: #849d8f;
    background-image: url(../img/slider/slider-ice-cream-1.png);
    background-repeat: no-repeat;
    background-position: top center;
    color: #ffffff;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.3%;
    position: relative;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";
    visibility: hidden;
}

.site-wrapper::before {
    background-image: url("../img/slider/slider-ice-cream-2.png");
}

.site-wrapper::after {
    background-image: url("../img/slider/slider-ice-cream-3.png");
}

.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0;
}

.slider {
    position: relative;
    padding-top: 180px;
    text-align: center;
}

.slides {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 31px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}

.slide-button {
    display: inline-block;
    padding: 12px 44px;
    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
}

.slide-button:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-button:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label:hover {
    background-color: #b5c4ba;
}

.slider-controls {
    position: absolute;
    bottom: 63px;
    left: 70px;
    z-index: 20;
    font-size: 0;
}

.slide {
    display: none;
}

#product-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slider/slider-ice-cream-1.png");
}

#product-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slider/slider-ice-cream-2.png");
}

#product-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slider/slider-ice-cream-3.png");
}

#product-1:checked ~ .site-wrapper #slide-1,
#product-2:checked ~ .site-wrapper #slide-2,
#product-3:checked ~ .site-wrapper #slide-3 {
    display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.main-navigation {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}

.site-navigation,
.user-navigation,
.site-catalog-list {
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #000000;
    background-color: #ffffff;
}

.site-catalog-list {
    background-color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
}

.site-catalog-item-new {
    font-weight: bold;
}

.site-catalog-list a {
    color: #000000;
}

.site-catalog-list a:hover,
.site-catalog-list a:focus {
    background-color: #fbded7;
}

.site-catalog-list a:active {
    background-color: #f6b5a5;
}

.site-search,
.login-link,
.shop-cart {
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
}

.contact-details {
    font-weight: bold;
}

.time-schedule {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
}

.phone-number {
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
}

.button {
    background-color: #f06441;
    font-weight: bold;
    color: #ffffff;
}

.banner {
    font-weight: bold;
    color: #ffffff;
    list-style: none;
}

.banner-1 {
    background-image: url(../img/background-images/raspberry-background.jpg);
}

.banner-2 {
    background-image: url(../img/background-images/chocolate-background.jpg);
}

.banner-title {
    font-size: 35px;
    line-height: 41px;
}

.ice-cream-list {
    list-style: none;
    font-weight: 500;
    color: #ffffff;
}

.ice-cream-price-figure {
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
}

.ice-cream-price-unit {
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
}

.description {
    color: #ffffff;
    text-align: center;
}

.about-shop {
    background-image: url(../img/background-images/vaffel-background.jpg);
    color: #000000;
}

.about-shop li {
    list-style: none;
}

.about-shop h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.about-shop-text {
    font-weight: normal;
    font-size: 16px;
    line-height: : 22px;
}

.blog-news-description {
    font-weight: 500;
    font-size: 16px;
    line-height: : 22px;
}

.blog-news-content {
    color: #000000;
    font-weight: bold;
    font-size: 24px;
    line-height: : 30px;
    text-decoration: underline;
}

.subscribe-form p {
    font-weight: normal;
    font-size: 16px;
    line-height: : 22px;
}

.contact-info {
    background-color: #ffffff;
    color: #000000;
}

.contacts-address,
.contacts-phone {
    font-weight: normal;
    font-size: 14px;
    line-height: : 20px;
}

.contacts-address strong {
    font-weight: bold;
    font-size: 18px;
    line-height: : 24px;
}

.phone-number {
    font-weight: bold;
    font-size: 18px;
    line-height: : 22px;
}

.contacts-work-hours {
    font-weight: normal;
    font-size: 14px;
    line-height: : 22px;
}

.feedback-form {
    background-color: #f8f7f4;
}

.feedback-form h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: : 28px;
    color: #000000;
}

.social-icons {
    list-style: none;
}

.additional-info a {
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    font-size: 13px;
    line-height: : 18px;
}

.footer-copyright a {
    text-decoration: none;
    font-weight: normal;
    color: #ffffff;
    font-size: 12px;
    line-height: : 18px;
}

.catalog-wrapper {
    background-color: #849d8f;
    color: #ffffff;
}

.breadcrumbs li,
.breadcrumbs a {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    font-size: 14px;
    line-height: : 16px;
}

fieldset {
    border: none;
    color: #ffffff;
    font-weight: normal;
    font-size: 14px;
    line-height: : 16px;
    background-color: #a9b9af;
}

.form-cell {
    background-color: #a9bab0;
}

.form-cell-sort {
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
    line-height: : 18px;
}

button.catalog-form {
    background-color: #a6b7ad;
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
    line-height: : 18px;
    border: 2px solid #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.site-catalog-list,
.search-form,
.user-login-form,
.feedback-form {
    display: none;
}


/*>>>>>>>>>> Начало блока построения сеток<<<<<<<<<<*/


/*>>> Блок Шапки <<<*/

.main-header {
    margin-bottom: 75px;
    width: auto;
}

.main-navigation {
    display: flex;
    flex-direction: row;
}

.main-header-logo {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    width: 155px;
    height: 65px;
}

.site-navigation {
    margin: 0;
    padding: 0;
}

.user-navigation {
    margin: 0;
    padding: 0;
}

.menu-container {
    width: 990px;
    margin: 10px 0 0 22px;
    padding: 0;
}

.main-navigation .menu-container {
    display: flex;
    justify-content: space-between;
}


/*>>>-// Конец Блока Шапки <<<*/


/*>>> Блок Слайдер <<<*/

.slider {
    padding: 0 auto;
}


/*>>>-// Конец Блока Слайдер <<<*/


/*>>> Блок Малинка-Шоколадка <<<*/

.banner {
    width: 1146px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 0;
    display: flex;
    flex-direcion: row;
    justify-content: space-between;
}

.banner-1,
.banner-2 {
    width: 560px;
    min-height: 230px;
    border-radius: 25px;
}


/*>>>-// Конец Блока Малинка-шоколадка <<<*/


/*>>> Блок товаров <<<*/

.ice-cream-item {
    margin: 0;
    padding: 0;
    width: 22.2%;
    max-height: 407px;
}

.ice-cream-list {
    width: 1146px;
    padding: 0;
    margin: 0;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
}

.ice-cream-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}


/*>>>-// Конец Блока товаров <<<*/


/*>>> Блок Преимущества <<<*/

.about-shop {
    width: 1146px;
    min-height: 307px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
}


/*>>>-// Конец Блока Преимущества <<<*/


/*>>> Блок Статьи и формы подписки <<<*/

.blog-form-container {
    width: 1146px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;
    flex-direcion: row;
    justify-content: space-between;
}

.blog-news,
.subscribe-form {
    width: 560px;
    min-height: 222px;
    border-radius: 20px;
}

.subscribe-form {
    background-image: url(../img/background-images/bg-post.svg);
    background-repeat: no-repeat;
    color: #000000;
}

.blog-news {
    background-image: url(../img/background-images/strawberry-background.jpg);
    background-repeat: no-repeat;
    background-position: 20% 36%;
    color: #000000;
}


/*>>>-// Конец Блока Статьи и формы подписки <<<*/


/*>>> Блок Карта и контакты <<<*/

.location-and-contacts {
    margin: 0;
    margin-top: 40px;
    width: 100%;
    min-height: 430px;
    background-image: url(../img/background-images/map.jpg);
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}

.address-container {
	display: flex;
	flex-direction: row-reverse;
	flex-basis: inherit;
	flex-wrap: wrap;
}

.contact-info {
    width: 303px;
    min-height: 305px;
    border-radius: 10px;
   	margin-right: 80px;	
}

.footer-container {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1146px;
	margin-left: auto;
	margin-right:auto;
	padding:0;
}

.social-icons {
	margin: 0;
	padding: 0;
}
